<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="openmodal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>  
<ion-list>
  <ion-list-header>
    Item List
  </ion-list-header>
  <div *ngFor="let student of students; index as i">
  <ion-item class="folder-background-color">
<ion-label>
  <ion-avatar slot="start">
    <img [src]='student.imageUrl'>
  </ion-avatar>
</ion-label>
<ion-label>
      <p>Folder Name</p>
      <h2>{{ student.itemName }}</h2>
</ion-label>
<ion-label>
  <h3>Folders : {{student.folders}}</h3>
  <h3>Items : {{student.items}}</h3>
</ion-label>

  </ion-item>
</div>

</ion-list>
