<div>
  <ion-title>Inventory Summary</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-icon name="business-outline" size="large" id="inventorieIcon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>2</ion-card-subtitle>
            <ion-card-title>Inventories</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-icon name="folder-open-sharp"  size="large" id="groupIcon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>12</ion-card-subtitle>
            <ion-card-title>Folder</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-icon name="document-sharp" size="large" id="item"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>12</ion-card-subtitle>
            <ion-card-title>Items</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-icon name="albums-sharp" size="large" id="quantityIcon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>12</ion-card-subtitle>
            <ion-card-title>Total Quantity</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-icon name="wallet-sharp" size="large" id="valueIcon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>12</ion-card-subtitle>
            <ion-card-title>Total Value</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
